<ion-header>
  <ion-toolbar>
    <ion-title>
      Mutil-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Busqueda de paquetes</ion-card-subtitle>
      <ion-card-title>*-*</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Introduce tu numero de guia/trackin y haz click en buscar ;)
    </ion-card-content>
  </ion-card>
  
  <ion-item>
    <ion-input required type="text" id="tracking_id" placeholder="Tracking id/number" 
       [(ngModel)]="tracking_id" >
    </ion-input>
  </ion-item>

  <ion-button size="small" (click) ="showVal()" >Buscar</ion-button>

  <ion-list *ngFor="let item of myProducts">
    <ion-item (click)="searchProduct(item)">
       {{ item.title }} Left Icon Button
      <button ion-button outline item-end icon-start (click)="searchProduct(item)" >
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
